/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   text-decoration: none !important
 }

 .card-product-list,
 .card-product-grid {
   margin-bottom: 0
 }

 .card {
   width: 500px;
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 23px;
   margin-top: 50px
 }

 .card-product-grid:hover {
   -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
   box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
   -webkit-transition: .3s;
   transition: .3s
 }

 .card-product-grid .img-wrap {
   border-radius: 0.2rem 0.2rem 0 0;
   height: 220px
 }

 .card .img-wrap {
   overflow: hidden
 }

 .card-lg .img-wrap {
   height: 280px
 }

 .card-product-grid .img-wrap {
   border-radius: 0.2rem 0.2rem 0 0;
   height: 275px;
   padding: 16px
 }

 [class*='card-product'] .img-wrap img {
   height: 100%;
   max-width: 100%;
   width: auto;
   display: inline-block;
   -o-object-fit: cover;
   object-fit: cover
 }

 .img-wrap {
   text-align: center;
   display: block
 }

 .card-product-grid .info-wrap {
   overflow: hidden;
   padding: 18px 20px
 }

 [class*='card-product'] a.title {
   color: #212529;
   display: block
 }

 .rating-stars {
   display: inline-block;
   vertical-align: middle;
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   white-space: nowrap;
   clear: both
 }

 .rating-stars li.stars-active {
   z-index: 2;
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden
 }

 .rating-stars li {
   display: block;
   text-overflow: clip;
   white-space: nowrap;
   z-index: 1
 }

 .card-product-grid .bottom-wrap {
   padding: 18px;
   border-top: 1px solid #e4e4e4
 }

 .bottom-wrap-payment {
   padding: 0px;
   border-top: 1px solid #e4e4e4
 }

 .rated {
   font-size: 10px;
   color: #b3b4b6
 }

 .fa {
   color: #FF5722
 }

 body {
   min-height: 100vh;
   min-height: -webkit-fill-available;
 }

 html {
   height: -webkit-fill-available;
 }

 main {
   display: flex;
   flex-wrap: nowrap;
   height: 100vh;
   height: -webkit-fill-available;
   max-height: 100vh;
   overflow-x: auto;
   overflow-y: hidden;
 }

 .b-example-divider {
   flex-shrink: 0;
   width: 1.5rem;
   height: 100vh;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
 }

 .bi {
   vertical-align: -.125em;
   pointer-events: none;
   fill: currentColor;
 }

 .dropdown-toggle {
   outline: 0;
 }

 .nav-flush .nav-link {
   border-radius: 0;
 }

 .btn-toggle {
   display: inline-flex;
   align-items: center;
   padding: .25rem .5rem;
   font-weight: 600;
   color: rgba(0, 0, 0, .65);
   background-color: transparent;
   border: 0;
 }

 .btn-toggle:hover,
 .btn-toggle:focus {
   color: rgba(0, 0, 0, .85);
   background-color: #d2f4ea;
 }

 .btn-toggle::before {
   width: 1.25em;
   line-height: 0;
   content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
   transition: transform .35s ease;
   transform-origin: .5em 50%;
 }

 .btn-toggle[aria-expanded="true"] {
   color: rgba(0, 0, 0, .85);
 }

 .btn-toggle[aria-expanded="true"]::before {
   transform: rotate(90deg);
 }

 .btn-toggle-nav a {
   display: inline-flex;
   padding: .1875rem .5rem;
   margin-top: .125rem;
   margin-left: 1.25rem;
   text-decoration: none;
 }

 .btn-toggle-nav a:hover,
 .btn-toggle-nav a:focus {
   background-color: #d2f4ea;
 }

 .scrollarea {
   overflow-y: auto;
 }

 .fw-semibold {
   font-weight: 600;
 }

 .lh-tight {
   line-height: 1.25;
 }

 .size span {
   font-size: 11px
 }

 .color span {
   font-size: 11px
 }

 .product-deta {
   margin-right: 70px
 }

 .gift-card:focus {
   box-shadow: none
 }

 .pay-button {
   color: #fff
 }

 .pay-button:hover {
   color: #fff
 }

 .pay-button:focus {
   color: #fff;
   box-shadow: none
 }

 .text-grey {
   color: #a39f9f
 }

 .qty i {
   font-size: 11px
 }